.desc_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.desc_content {
    /* display: flex; */
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 2%;
    margin-left: 5%;
}

.desc_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    /* font-family: 'Irish Grover'; */
    /* font-style: normal;
    font-weight: 400;
    font-size: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    color: rgba(131, 95, 42, 0.64); */                    
}

.desc_description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-right: 65%;
    text-align: justify;
    margin-bottom: 2%;
}

.desc_collection{
    font-weight: bold;
    margin-bottom: 0.5%;
}

.desc_description2{
    margin-top: 0.5%;
    margin-bottom: 2%;
}

.desc_button{
    margin-bottom: 2%;
}

.desc_price{
    font-weight: bold;
}