.named_text_group{
    display: flex;
    flex-direction: row;
}

.named_text_name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
    padding-top: 5px;
    padding-right: 8px;
}

.named_text_value{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    padding-top: 5px;
    padding-right: 10px;
}