.default_header_bg {
    height: 60%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 10px;
}

.default_header_bg_invert {
    height: 60%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 10px;
    background-color: #000000d6;
}

.default_header_logo {
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}

.default_header_logo:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.default_header_logo_invert {
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #E7DCCA;
}

.default_header_logo_invert:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.default_header_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    padding: 5px 10px;
    cursor: pointer;
}

.default_header_text:hover {
    transform: scale(1.1);
}

.default_header_text_invert {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #E7DCCA;
    padding: 5px 10px;
    cursor: pointer;
}

.default_header_text_invert:hover {
    transform: scale(1.1);
}

.default_header_raised_button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    background-color: black;
    color: #ffffff;
    padding: 8px 25px;
    margin: 30px;
}

.default_header_raised_button:hover {
    transform: scale(1.1);
}

.default_header_raised_button_invert {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #000000;
    padding: 8px 25px;
    margin: 30px;
    background: #E7DCCA;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.default_header_raised_button_invert:hover {
    transform: scale(1.1);
}

.logout {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #E7DCCA;
    padding-left: 80px;
}

.logout:hover {
    transform: scale(1.1);
}

.default_header_menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.default_header_menu_invert {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    color: #E7DCCA;
}

.default_header_icon {
    color: #000000;
    transform: scale(1.1);
    cursor: pointer;
}

.default_header_icon:hover {
    transform: scale(1.2);
}

.default_header_cart_bucket {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.2);
}

.default_header_cart_bucket_text {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 800;
    font-size: 10px;
    color: #000000;

    margin-top: 28%;
    /* margin-left: 1%; */
    position: absolute;
}