.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    height: 10%;
    padding-bottom: 0vh;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -2%;
}
.back_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 0%;
    margin: -15px;
    color: #231F20;
}

.title_header{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
}
.title_text_group{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mega_title{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    color: #6D5229;
}
.mini_title{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    color: #E7DCCA;
}
.filter_button_placement{
    margin-right: 5%;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 90%;
}
