.product_page_group {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.product_page_header {
    height: 10%;
    padding-bottom: 0vh;
    margin-bottom: -2%;
}

.product_page_backbutton {
    margin-bottom: 0px;

}