.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    height: 10%;
    padding-bottom: 0vh;
}
.title_header{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -2%;
}

.title{
    display: flex;
    padding-left: 15%;
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    color: rgba(131, 95, 42, 0.64);
}
.sub_title{
    width: 70%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 90%;
}

