.hyperText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    color: #6D5229;
    cursor: pointer;
}
.hyperText:hover{
    transform: scale(1.2);
    cursor: pointer;
}