.fav {
    scale: 1.2;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: rgba(131, 95, 48, 1);
}
.fav:hover {
    color: rgba(211, 187, 152, 0.5);
}

.unfav{
    scale: 1.2;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: rgba(131, 95, 48, 0.2);
}
.unfav:hover {
    color: rgba(131, 95, 48, 0.5);
}