.searchbar_input {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 0px 20px;
    color: rgba(131, 95, 42, 0.45);
    border: 2px solid rgba(0, 0, 0, 0.75);
}

.searchbar_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 60%;
}

.searchbar_icon {
    width: 35px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
}

.searchbar_icon_bg {
    justify-content: center;
    align-items: center;
    background-color: #000000;
    cursor: pointer;
}