.home_page_group {
    height: 100vh;
    background-image: url(../../assets/background.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}

.home_page_imageoverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(131, 95, 42, 0.45);
    z-index: 0;
}

.home_page_header {
    height: 10%;
    padding-bottom: 20vh;
    z-index: 0;
}

.home_page_content {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}

.home_page_greet_group {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: -10%;
    z-index: 0;
}

.home_page_greet_text {
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    /* text-shadow: h-shadow v-shadow blur-radius color; */
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
    color: rgba(131, 95, 42, 0.64);
    z-index: 0;
    margin: 0px;
}

.home_page_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 0px;
}

.homepage_search_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    z-index: 0;
}

.home_page_auto_box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 54.5%;
    margin-left: -5.5%;
    z-index: 0;
    background-color: white;
    opacity: 0.7;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
}

.home_page_suggestion {
    padding-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 5px;
    text-align: left;

    cursor: pointer;
}